* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
}
/*start Header*/
header {
  background-image: url("../img/drew-coffman-1872.jpg");
  height: 45vh;
  width: 100%;
  background-size: cover;
  background-position: center bottom;
  font-family: "Roboto", sans-serif;
  position: relative;
}
header .overLay {
  position: absolute;
  background-color: rgba(82, 82, 82, 0.233);
  width: 100%;
  height: 100%;
  z-index: 0;
}
header nav {
  height: 13vh;
  width: 100%;
  background-color: rgba(82, 82, 82, 0.233);
  position: fixed;
  z-index: 9999;
}
header nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .container ul {
  display: flex;
  list-style: none;
  font-size: 20px;
}
header nav .container ul li {
  padding-left: 30px;
}
header nav .container ul li a {
  text-decoration: none;
  color: #ffffff;
}
header nav .container img {
  width: 200px;
  height: 60px;
}
header .contentH {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  height: 100%;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
header .contentH p {
  font-size: 22px;
  padding-bottom: 30px;
}
header .contentH h3 {
  font-size: 50px;
  line-height: 45px;
  margin-bottom: 20px;
  font-family: "Recursive", sans-serif;
}
/*end Header*/
/*start OurStory*/
.OurStory {
  padding: 5% 0;
  font-family: "Roboto", sans-serif;
}
.OurStory .container {
  display: flex;
  justify-content: space-between;
}
.OurStory img {
  width: 45%;
}
.OurStory .contentOurStory {
  width: 48%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.OurStory .contentOurStory h2 {
  font-size: 32px;
  color: #303030;
  font-family: "Recursive", sans-serif;
  margin-bottom: 30px;
}
.OurStory .contentOurStory p {
  line-height: 1.86em;
  font-size: 17px;
  color: #686868;
  margin-bottom: 30px;
}
/*end OurStory*/
/*start Whyour*/
.whyour {
  padding: 5% 0;
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}
.whyour .container {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.whyour img {
  height: 25px;
  width: 25px;
  margin-bottom: 20px;
}
.whyour h2 {
  font-size: 32px;
  color: #303030;
  font-family: "Recursive", sans-serif;
  margin-bottom: 20px;
}
.whyour p {
  line-height: 1.86em;
  font-size: 17px;
  color: #686868;
}
.whyour .contentWhyour {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.whyour .contentWhyour .cartWhy {
  width: 33.33333%;
  height: 200px;
  padding: 23px;
}
.whyour .contentWhyour .cartWhy h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #303030;
  margin-bottom: 13px;
}
/*end Whyour*/

/*start footerA*/
.footerA {
  background-color: #403d38;
  padding: 5% 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.footerA .container {
  display: flex;
  justify-content: center;
}
.footerA .cartFooter {
  width: 27%;
  padding: 20px;
}
.footerA .cartFooter h3 {
  margin-bottom: 20px;
}
.footerA .cartFooter p {
  color: #969696;
  line-height: 1.7em;
  margin-bottom: 20px;
}
.footerA .container ul {
  list-style: none;
  color: #969696;
}
.footerA .container ul li {
  padding: 15px;
  padding-left: 0;
  border-bottom: 1px solid #96969649;
}
.footerA .container ul li a {
  text-decoration: none;
  color: #969696;
}
/*end footerA*/
/*start footerB*/
.footerB {
  background-color: #353330;
  padding: 5% 0;
  font-family: "Roboto", sans-serif;
  color: #969696;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerB p {
  margin-top: 20px;
}
/*end footerB*/
/*start testemonial*/
.testemonial {
  background-color: #8e7754;
  padding: 5% 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.testemonial .container {
  display: flex;
  justify-content: center;
}
.testemonial .cartTestemonial {
  display: flex;
  height: 200px;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testemonial .cartTestemonial img {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.testemonial .cartTestemonial img {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.testemonial .cartTestemonial h2 {
  font-size: 32px;
  font-family: "Recursive", sans-serif;
  margin-bottom: 20px;
}
/*end testemonial*/
